<div class="changepassword">
        <h2 class="changepassword-header">change password</h2>
        <form [formGroup]="changepasswordForm" class="changepassword-container" (ngSubmit)="onSubmit()">
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.currentpassword.errors }">
            <input type="currentpassword" placeholder="currentpassword" formControlName="existingPassword">
          </p>
      
          <div *ngIf="isSubmitted && formControls.currentpassword.errors" class="help-block">
            <div *ngIf="formControls.currentpassword.errors.required">currentpassword is required</div>
          </div>
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.newpassword.errors }">
            <input type="newpassword" placeholder=" New Password" formControlName="newPassword">
          </p>
      
          <div *ngIf="isSubmitted && formControls.newpassword.errors" class="help-block">
            <div *ngIf="formControls.newpassword.errors.required"> New Password is required</div>
          </div>
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.confirmpassword.errors }">
          <input type="confirmpassword" placeholder=" Confirm Password" formControlName="confirmPassword">
          </p>
    
          <div *ngIf="isSubmitted && formControls.confirmpassword.errors" class="help-block">
          <div *ngIf="formControls.confirmpassword.errors.required"> Confirm Password is required</div>
          </div>

          <p><input type="submit" value="CHANGE PASSWORD"> </p>
          
        </form>
        
        
      </div>