@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.signup {
  width: 500px;
  height: 100px;
  margin: 16px auto;
  font-size: 16px;
  padding-top: 70px;
}

.signup-header,
.signup input {
  margin-top: 0;
  margin-bottom: 0;
}

/* .signup-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
} */

.signup-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.signup-container {
  background: #ebebeb;
  padding: 5px;
  text-align: center;
  
}

.signup input {
  padding: 1px;
}

.signup label{
    font-size: 1em;
    color:black;
    margin-top: 5%;
}

.signup input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-style: solid;
  padding: 16px;
  outline: 0;
  margin-bottom: 5%;
  font-family: inherit;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 13px;
  padding: 11px;
}

.signup input {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.signup input {
  border-color: #888;
}

.signup input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background: #17c;
}

.signup input[type="submit"]:focus {
  border-color: #05a;
}
.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

#forgotpassword{
color: white;
font-size: 0.75em;
}

.textbox{
width: 10px;
height: 10px;
}

.inputontainer{
  margin-bottom: 20px !important;
}