<div>
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
        <label>
            User Name:
            <input type="text" formControlName="username">
          </label>
        <label>
            First Name:
            <input type="text" formControlName="firstName">
          </label>
        
          <label>
            Last Name:
            <input type="text" formControlName="lastName">
          </label>
          <button type="submit" [disabled]="!user.valid"> Sign Up</button>
    </form>
</div>

