
<header id="header" class="fixed-top header-transparent">
  <div class="container">

      <div class="logo float-left">
      <h1 class="text-light"><a href="index.html"><span>Hotel Managment</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a a href="user-list">About Us</a></li>
          <li><a a href="sign-up" >SignUp</a></li>
          <li><a a href="login" >SignIn</a></li>
          
          <!-- <li class="drop-down"><a href="">Drop Down</a>
          <ul>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">SingOut</a></li>
          </ul>
          </li> -->
      </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
<div class="login">
    <p> Enter your Email id to reset your password</p>
        <h2 class="login-header">Forgot Password?</h2>
        
        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="forgotpassword()">
      
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" placeholder="Email" formControlName="email">
            </p>
    
            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required">Email is required</div>
            </div>
    
          <p><input type="submit" value="Reset Password"> </p>
          
        </form>
        
 </div>